<p>Hei, {{company}} 😊</p>

<p>Jeg heter Jonas og utvikler programvare innen {{industry}}. Jeg lurer på om dere i {{company}} er interessert i et samarbeid hvor jeg lager programvare for dere gratis, imot at dere hjelper meg ved å fortelle hva dere trenger og hvilke problemer dere har som kanskje kan løses med software.</p>

<p>På denne måten kan jeg utvikle et produkt som tilsvarende bedrifter virkelig har behov for, og dere får skreddersydd programvare gratis.</p>

<p><strong>Link til gratis skreddersydd demo:</strong> <a href="{{demo_url}}">{{demo_url}}</a><br>
Jeg har også laget en gratis skreddersydd demo som et eksempel på hva jeg kan lage for dere.<br>
Hvis dere er interessert, kan jeg videreutvikle demoen eller utvikle noe annet dere har behov for.</p>

<p><strong>Hvilke programvarer bruker dere mest nå?</strong><br>
<strong>Kan jeg sende noen mer detaljerte spørsmål for å finne ut om deres behov?</strong></p>

<p>&nbsp;</p>

<p>Ser frem til å høre fra dere,<br>
Jonas Wingan</p>

<p>
  <img src="https://raw.githubusercontent.com/jonaswing/email-sender/main/images/image.png" alt="Jonas Wingan" width="121" height="121" style="width:121px; height:121px; object-fit:cover; border:0;">
</p>

<p>
LinkedIn<br>
<a href="https://www.linkedin.com/in/jonas-wingan-8a35051b2">www.linkedin.com/in/jonas-wingan-8a35051b2</a><br>
Github<br>
<a href="https://github.com/jonaswing">https://github.com/jonaswing</a>
</p>

<p>&nbsp;</p>

<p>
Jonas Wingan &amp; Co<br>
Startuplab, Gaustadalléen 21<br>
0349 Oslo
</p>
